<!DOCTYPE html>
<html lang="en">
    <head>
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>Worker 1</title>
        <link href='https://fonts.googleapis.com/css?family=Open+Sans:400,600,300,700' rel='stylesheet' type='text/css'>
        <link href="/public/css/main.css" rel="stylesheet">
        <link rel="shortcut icon" href="/public/img/favicon.ico"/>
    </head>
    <body>
        <div class="container">
            <form>
                <label for="clientID"><b>Client ID</b></label>
                <input type="text" placeholder="Enter Client ID" name="uname" required>

                <label for="clientSecret"><b>Client Secret</b></label>
                <input type="password" placeholder="Enter Client Secret" name="psw" required>
            </form>

        </div>
    </body>
</html>
